<!DOCTYPE html>
<html class="dark">
    <head>
        <title>
            {{title}}
        </title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel = "stylesheet" type = "text/css" href = "/css/form.css">
        <script src="/js/case-form.js" type="text/javascript"></script>
        <script src="/js/back-btn.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{{body}}}
    </body>
</html>