<!DOCTYPE html>
<html>
    <head>
        <title>
           {{title}}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href ="/css/index.css" rel = "stylesheet" />

       <!-- <script src = "/js/header.js" type="text/javascript"></script> -->
    </head>
    <body>
       {{{body}}}
    </body>
</html>


<!--For employee homepage (index is the only css with header.js)-->