<!DOCTYPE html>
<html>
    <head>
        <title>
            Barangay Parang - Initial Login Page
        </title>
        <link rel = "stylesheet" type = "text/css" href = "/css/index.css">
        <script src="/js/header.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "main-container">
            <div class= "header" id="header">
                <div class = "header-left">
                    <a href="/index" class="header-logo-link" id="home-link1"><img src="/images/logo.png" class="header-logo"></a>
                    <a href="/index" class="header-home" id="home-link2"><h3>Home</h3></a>
                </div>
                
                <div class = "header-title">
                    <div class = "header-text">
                        <h3>Sangguniang Barangay ng Parang</h3>
                        <h5>Marikina City</h5>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-user-profile">
                        <span class="header-user-profile-text" id="profile-text">Admin</span>
                        <img class="header-user-profile" id="profile-img">
                    </div>
                    <a href="#"><button type="button" class="header-logout-btn" id="logout-btn">Logout</button></a>
                </div>
            </div>
            <div class = "login-panel">
                <div class = "login-panel-left">
                    <img src="/images/logo.png" class="login-panel-logo">
                    <h1>Barangay Certificate Verification Portal</h1>
                </div>
                <div class = "login-panel-right">
                    <h1>Choose Portal:</h1>
                    <div class = "portal-buttons">
                        <a href="/employee-login"><button type="button" class="portal-btn-employee">Employee</button></a>
                        <a href="/admin-login-page"><button type="button" class="portal-btn-admin">Administrator</button></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>