<html>
  <head>
    <title>
      Barangay Parang - Initial Login Page
    </title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="main-container">
      <div class="ls-panel">
        <div class="ls-panel-left">
          <img src="/images/logo-revised.svg" class="ls-panel-logo" />
          <h1>Barangay Parang</h1>
        </div>
        <div class="ls-panel-right">
          <h1>Choose Portal:</h1>
          <div class="portal-buttons">
            <!-- NOTE: TEMPORARY LINKS TO LOGIN AND SIGNUP TO BE DELETED AFTER FINISHED ALL PAGES FOR CORRECT FLOW -->
            <a href="/signup"><button type="button" class="portal-btn-employee">Signup</button></a>
            <a href="/login"><button type="button" class="portal-btn-admin">Login</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>