<html>
  <head>
    <title>
      Barangay Parang - Login Page
    </title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/login-page.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- TO BE USED AS LOGIN PAGE replace with login.hbs after routes fixed -->
    <div class="main-container">
      <div class="login-panel">
        <div class="login-panel-left">
          <img src="/images/logo-revised.svg" class="login-panel-logo" />
          <h1>Barangay Parang</h1>
        </div>
        <div class="login-panel-main">
          <span class="login-panel-title" id="login-title">Login</span>
          
          {{#if error}} <!-- IF NULL DONT SHOW ERROR CONTAINER -->
            <div class="ls-error-notice">
              <ul>
                <li>{{error}}</li>
              </ul>
            </div>
          {{/if}}
          
          <!--login main form-->
          
          <form class="login-form" action="check-login" method="post">
            <div class="login-field" id="login-field">
              <label for="email">Email</label>
              <input type="text" id="email" name="email" placeholder="Email" />
            </div>
            <div class="login-field" id="login-field">
              <label for="password">Password</label>
              <input type="password" id="pw" name="password" placeholder="Password" />
            </div>
            <div class="login-submit">
              <input type="submit" value="Login" id="login-submit-btn" />
            </div>
            <!--login main form-->
          </form>

          <p>
            Don't have an account yet?
            <a class="signup-link" href="/signup">Signup</a>
          </p>
          <div class="login-return">
            <a href="/"><button type="button" value="return" onclick="employeeView()" id="return-btn">Return</button></a>
          </div>
        </div>
      </div>
    </div>
    </div>
     
    <!-- MODAL FOR FORGOT PASSWORD
    <div id="forgotPasswordModal" class="modal" style="display: block;">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Security Question</h2>
        <p>{{securityQues}}</p>
        <input type="text" id="securityAnswer" placeholder="Enter your answer" autocomplete="off" />
        <button id="submitAnswer">Submit</button>
      </div>
    </div>
    -->
  </body>
</html>