.upper-container {
    margin: 0 auto;
    margin-top: -20px;
    height: 10%;
    width: 100%;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.70;
    margin-left: 7.5%;
    /* background-color: aquamarine; */
  }
  
  .back-button {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    opacity: 0.75; 
    align-items: center;
  }

  #white-back-button {
    color: white
  }
  
  .back-button svg {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .back-button:hover {
    text-decoration: underline;
  }

  /*
  #form-upper-container {
    /*margin-left: -9.625rem;
  }
  */



  .page-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .form-encasing-container {
    margin: 0 auto;
  }
