.dropbtn {
    background-color: white;
    color: 004112;
    padding: 11px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dropbtn.margin, .dropdown-content.margin {
    margin-left: 25px;
}    

.dropdown {
    position: relative;
    display: inline-block; 
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 130px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px 004112(0,0,0,0.2);
    z-index: 1;
    font-size: small;
    border-radius: 10px;
    text-align: center;
    margin-left:15px;
    margin-top: 3px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.dropdown img {
    margin-left: 10px;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;         
    pointer-events: none;  
}
