* :not(button){
  box-sizing: content-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: transparent;

  /* temporary */
  background-image: url('/images/bg-dark.png');
  background-size: cover;
    -webkit-background-size: cover; /* For older WebKit-based browsers */
    -moz-background-size: cover; /* For older Mozilla-based browsers */
    -o-background-size: cover; /* For older Opera browsers */
  background-position: center;
  background-repeat: no-repeat;

  padding-bottom: 10%;
  overflow: hidden;
}

#main-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
}

.back-btn-container {
  display: flex;
  flex-direction: row;
  width: 100%; 
  padding-left: 7.2%;
  margin-top: -2%;
}

.sub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.action-text {
    display: block;
    color: #004112;
    font-weight: bold;
    font-size: 1rem;
}

button[value="back"] {
    border: none;
    background: none;
    color: grey;
    font-size: 1rem;
}

.print-panel {
  width: 620px;
  height: 736px;
  border: 2px solid #004112;
  background-color: white;
  
  margin-top: 1%;
  border-radius: 5px;
  box-shadow: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.photo-container {
  width: 130px;
  height: 130px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  margin-left: 8%;
  margin-bottom: 2%;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-upload-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: underline;
  color: #1E42C1;
  background-color: white; 
  border: 1.5px solid #1E42C1;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.image-upload-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.deets1-container, .deets3-container, .deets4-container {
  display: flex;
  flex-direction: row;

  margin-bottom: 2%;
}

.deets2-container{
  display: flex;
  flex-direction: column;

  margin-bottom: 2%;
}

.action-container {
  display: flex;
  flex-direction: row;

  margin-top: 25px;
  margin-left: 12%;
}

.deets-text {
  display: block;
  color: #5E5E5E;
  font-weight: bold;
  width: 100%;
  font-size: 1rem;
  
  margin-bottom: 0.5%;
  margin-left: 10%;
}

.name-container .deets-text {
  margin-left: 15%;
}

.deets1-container .date-container .deets-text {
  margin-left: 65%;
}

.deets3-container .birthplace-container .deets-text {
  margin-left: 22%;
}

.deets3-container .location-container .deets-text {
  margin-left: 38%;
}

.deets4-container .cedula-container .deets-text {
  margin-left: 22%;
}

.deets4-container .date-container .deets-text {
  margin-left: 39%;
}

.deets-text span {
  font-weight: normal;
}

input[id='name'] {
  width: 321px;
  height: 29px;
  
  padding-left: 10px;
  margin-bottom: 0.5rem;
  
  background-color: #CCCCCC;
  border: 1px solid #5E5E5E;
  border-radius: 5px;

  margin-left: 15%;

  text-transform: capitalize;
}

input[id='address'] {
  width: 494px;
  height: 29px;
  
  margin-bottom: 0.5rem;
  padding-left: 10px;
  background-color: #CCCCCC;
  border: 1px solid #5E5E5E;
  border-radius: 5px;

  margin-left: 10%;

  text-transform: capitalize;
}

input[class='date'] {
  width: 120px;
  height: 29px;
  
  margin-bottom: 0.5rem;
  padding-left: 10px;
  background-color: #CCCCCC;
  border: 1px solid #5E5E5E;
  border-radius: 5px;
}

input[id='Birthday'] {
  margin-left: 65%;

  color: gray;
}

input[id='ctc-date-issued'] {
  margin-left: 39%;

  width: 220px;
  height: 29px;

  color: gray;
}

input[id='birthplace'] {
  width: 220px;
  height: 29px;
  
  margin-bottom: 0.5rem;
  padding-left: 10px;
  background-color: #CCCCCC;
  border: 1px solid #5E5E5E;
  border-radius: 5px;

  margin-left: 22%;

  text-transform: capitalize;
}

input[id='cedula'] {
  width: 220px;
  height: 29px;
  
  margin-bottom: 0.5rem;
  padding-left: 10px;
  background-color: #CCCCCC;
  border: 1px solid #5E5E5E;
  border-radius: 5px;

  margin-left: 22%;
}

input[id='location'] {
  width: 220px;
  height: 29px;
  
  margin-bottom: 0.5rem;
  padding-left: 10px;
  background-color: #CCCCCC;
  border: 1px solid #5E5E5E;
  border-radius: 5px;

  margin-left: 38%;

  text-transform: capitalize;
}

input[id='reason'] {
  width: 494px;
  height: 29px;
  
  margin-bottom: 0.5rem;
  padding-left: 10px;
  background-color: #CCCCCC;
  border: 1px solid #5E5E5E;
  border-radius: 5px;

  margin-left: 10%;

  text-transform: uppercase;
  font-weight: bold;
}

.cancel-btn {
  margin-left: 24px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  color: green;
  font-family: 'Inter';
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}